@page "/productos/{id:int}/editar"
@inject ProductosService ProductosService
@inject IJSRuntime JS

<PageTitle>Productos</PageTitle>

<div class="container" style="max-width: 720px">
    <h3 class="mb-3">Editar Producto</h3>

    @if (producto is null)
    {
        <h5 class="pt-5">Producto no encontrado</h5>
    }
    else
    {
        <ProductoForm producto="producto"></ProductoForm>
    }
</div>

@code {
    private Producto? producto;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync ()
    {
        try
        {
            producto = await ProductosService.ObtenerProductoAsync(Id);
        }
        catch (Exception)
        {
            producto = null;
        }
    }
}
