@page "/ventas"
@inject VentasService VentasService
@inject InicioRegistro InicioRegistro
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>Ventas</PageTitle>

<div class="container">
    <h1 class="pb-3">Ventas</h1>

    <div class="row">
        <div class="col-6">
            <a href="/ventas/nuevo">
                <button type="button" class="btn btn-success">Crear Venta</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Productos</th>
                    <th>Comentario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (VentaDTORespuesta venta in ventas)
                {
                    <tr>
                        <td>@venta.Id</td>
                        <td>
                            <ul>
                                @foreach (ProductoVendido pv in venta.ProductosVendidos)
                                {
                                    <li>@pv.Producto.Descripcion</li>
                                }
                            </ul>
                        </td>
                        <td>@venta.Comentario</td>
                        <td class="text-end">
                            <a href="/ventas/@venta.Id/editar" class="pe-1">
                                <button type="button" class="btn btn-info">Editar</button>
                            </a>
                            <button type="button"
                                    class="btn btn-danger"
                                    @onclick="() => RemoverVentaAsync(venta.Id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<VentaDTORespuesta> ventas = [];

    protected override async Task OnInitializedAsync ()
    {
        ventas = await VentasService.ListarVentasAsync(InicioRegistro.UsuarioActual?.Id ?? 0) ?? [];
    }

    private async Task RemoverVentaAsync (int id)
    {
        try
        {
            await VentasService.EliminarVentaAsync(id);
        }
        catch (Exception)
        {
            await JS.InvokeVoidAsync("logErrorConsole", "No se pudo eliminar la venta");
            return;
        }

        VentaDTORespuesta? ventaAEliminar = ventas.FirstOrDefault(v => v.Id == id);
        if (ventaAEliminar is not null) ventas.Remove(ventaAEliminar);
    }
}
