@page "/productos-vendidos"
@inject ProductosVendidosService ProductosVendidosService
@inject InicioRegistro InicioRegistro
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>Productos Vendidos</PageTitle>

<div class="container">
    <h1 class="pb-3">Productos Vendidos</h1>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">IdVenta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductoVendidoDTO productoVendido in productosVendidos)
                {
                    <tr>
                        <td>@productoVendido.Id</td>
                        <td>@productoVendido.Producto.Descripcion</td>
                        <td class="text-center">@productoVendido.Stock</td>
                        <td class="text-center">@productoVendido.Venta.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<ProductoVendidoDTO> productosVendidos = [];

    protected override async Task OnInitializedAsync ()
    {
        productosVendidos = await ProductosVendidosService
                                        .ListarProductosVendidosAsync(InicioRegistro.UsuarioActual?.Id ?? 0) ?? [];
    }
}
