@page "/"
@inject NombreAPIService NombreAPIService

<PageTitle>Sistema Gestión</PageTitle>

<h1 class="text-center">@NombreAPI</h1>
<p class="text-center">
    Proyecto final del curso de C#. En esta aplicación cada usuario registrado 
    puede revisar y modificar tanto sus datos de perfil, como también sus propios productos y ventas.
</p>

@code {
    private string NombreAPI { get; set; } = null!;

    protected override async Task OnInitializedAsync ()
    {
        NombreAPI = await NombreAPIService.ObtenerNombreAPI();
    }
}
