@page "/inicio"
@rendermode InteractiveServer

<PageTitle>Inicio Sesión</PageTitle>

<div class="container" style="max-width: 720px">
    <h3 class="mb-3">Iniciar Sesión</h3>

    <InicioSesionForm></InicioSesionForm>
</div>
