@page "/registro"
@rendermode InteractiveServer

<PageTitle>Resgistro</PageTitle>

<div class="container" style="max-width: 720px">
    <h3 class="mb-3">Registrarse</h3>

    <UsuarioForm usuario="nuevoUsuario"></UsuarioForm>
</div>

@code {
    private Usuario nuevoUsuario = new();
}
