@page "/registro"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Resgistro</PageTitle>

<div class="container">
    <h2 class="pb-3">Registrarse</h2>
</div>

@* TODO: formulario registro *@

@code {

}
