@inject NavigationManager NavigationManager
@inject VentasService VentasService
@inject IJSRuntime JS
@rendermode InteractiveServer

<EditForm Model="venta" OnValidSubmit="GuardarVentaAsync" FormName="venta-form">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group pb-2">
        <label for="comentario">Nuevo Comentario</label>
        <InputTextArea type="text" class="form-control" id="comentario"
                       @bind-Value="comentario" />
    </div>
    <div class="form-group pb-2">
        <label for="id-usuario">IdUsuario</label>
        <InputNumber type="number" class="form-control" id="id-usuario"
                     @bind-Value="venta.Usuario" />
        <ValidationMessage For="() => venta.Usuario" />
    </div>

    <button type="submit" class="btn btn-primary mt-1">Guardar</button>
</EditForm>

@code {
    [Parameter]
    public Venta venta { get; set; } = null!;

    private int idUsuarioActual;

    private string comentario = string.Empty;

    protected override void OnInitialized ()
    {
        idUsuarioActual = venta.Usuario.Id;
    }

    private async Task GuardarVentaAsync ()
    {
        venta.AgregarComentario(comentario);

        try
        {
            if (venta.Id == 0) await VentasService.CrearVentaAsync(venta);
            else await VentasService.ModificarVentaAsync(venta.Id, venta);
        }
        catch (Exception)
        {
            await JS.InvokeVoidAsync("logErrorConsole", "No se pudo modificar/crear la venta");
            return;
        }


        NavigationManager.NavigateTo("/ventas");
    }
}
